indexv2.html
.DS_Store
Research/2006 Webb - Misdiagnosis of Gifted Children.pdf
Research/2022 Jackson Jung - identification of gifted underachievement.docx
Research/2022 Jackson Jung - identification of gifted underachievement.pdf
Research/2023 Cornoldi - Cognitive characteristics of gifted ADHD.pdf
Research/2024 Raoof - Unpacking the underachievement.pdf
Research/2025 Carter - School Experiences of Gifted Adolescents.pdf
Research/2026 Pinxten - Emotional and social well‐being of gifted adolescents.pdf
Research/z2006 Webb - Misdiagnosis of Gifted Children.pdf
